.gongonzacal{
	width: 600px;
	border: 1px solid black;
	margin: 10px;
	border-radius: 3px;
	background-color: #FAFAFA;
	font-family: arial;
}
.gongonzacal #top_bar{
	height: 30px;
	line-height: 30px;
	margin: 15px 0 40px 0;
}
.gongonzacal #top_bar #prev_nav,
.gongonzacal #top_bar #next_nav {
	width: 75px;
	float: left;
	text-align: center;
	cursor: pointer;
}
.gongonzacal #top_bar #prev_nav a,
.gongonzacal #top_bar #next_nav a{
	display: block;
}
.gongonzacal #top_bar #title {
	width: 450px;
	float: left;
	font-size: 28px;
	text-align: center;
	font-weight: bold;
}

.gongonzacal #label_bar{
	display: block;
	width: 554px;
	margin: 0px auto 5px auto;
	font-weight: bold;
}

.gongonzacal #label_bar .lab_cell{
	float: left;
	width: 79px;
	text-align: center;
}

.gongonzacal #calendar_cells{
	width: 554px;
	margin: 0px auto 20px auto;
}

.gongonzacal #calendar_cells .cal_cell{
	float: left;
	border-left: 1px solid black;
	border-top: 1px solid black;
	width: 78px;
	height: 50px;

	text-align: center;
	font-size: 25px;
	line-height: 50px;
}
.gongonzacal #calendar_cells .cal_cell a.cell_selector{
	display: block;
	cursor: pointer;
}

.gongonzacal #calendar_cells .right_cell{
	border-right: 1px solid black;
}
.gongonzacal #calendar_cells .bottom_cell{
	border-bottom: 1px solid black;
}

.gongonzacal #calendar_cells .date_selected{
	background-color: #AAAAFF;
	color: white;
	font-weight: bold;
}
.gongonzacal #calendar_cells .cal_cell:hover {
	background-color: #3377FF;
	font-weight: bold;
	color: white;
}
